apiVersion: gateway.kyma-project.io/v1beta1
kind: APIRule
metadata:
  name: fe-ui5-mssql
spec:
  gateway: kyma-gateway.kyma-system.svc.cluster.local
  rules:
    - path: /.*
      accessStrategies:
        - config: {}
          handler: noop
      methods:
        - GET
  service:
    name: fe-ui5-mssql
    port: 80
  host: fe-ui5-mssql
